.card-genre {

    height: auto;
    border-radius: 50px;
    border: 1px solid rgb(183, 107, 245);
    text-transform: uppercase;
    color: rgb(183, 107, 245);
    font-size: 0.7em;
    padding: 0px 10px 0px 10px;
    width: 90px;
    margin-right: 5px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    min-height: 25px;
}

.btn-genre:hover,
.btn-genre:focus {
    color: white;
    outline: 0;
}

.card-genre {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.card-genre:hover {
    box-shadow: 0 0 40px 40px rgb(183, 107, 245) inset;
}

.card-genre p {
    margin: 0;
    padding: 0;
}