.card-style {
    width: 100%;
    height: 95%;
}

.estrela {
    color: rgb(183, 107, 245);
}

.card-img-responsive {
    height: 100%;
    width: 90%
}

/* NAV */
.btn-exit:hover {
    color: #fff;
    background: rgb(183, 107, 245);

}

.btn-daark:hover {
    color: #fff;
    background: rgb(41, 41, 41);

}

.btn-daark.active {
    color: rgb(255, 255, 255);
    background: rgb(41, 41, 41);

}

.nav-main {
    border-bottom: 1px solid rgb(245, 235, 235);
}

span.usuario {
    font-size: 1.2rem;
    font-weight: bold;

}


nav.active {
    background: rgb(41, 41, 41);
    color: #fff
}




/* pagination */


.btn-radius {
    border: 1px solid rgb(202, 202, 202);
    border-radius: 60%;

}

.btn-radius:hover {

    background: rgb(183, 107, 245);
    color: #fff;
}




/* Card */
.fa-star {
    color: rgb(183, 107, 245);
    font-size: 0.7em;
    margin-top: -30px;
}

.status {
    padding-top: 10px;
    font-size: 15px;
}

.cap {
    font-size: 12px
}

.card-img {
    box-shadow: 0px 10px 13px -7px #000000;

}

.img-fluid {
    max-height: 200px;
}

.card-style:hover {
    box-shadow: 0px 7px 15px 5px rgb(216, 177, 248);
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.topico {
    display: flex;
    justify-self: center;
}

.card.active {
    background: red;
    color: rgb(245, 235, 235)
}

.btn-close {
    display: flex;
    justify-content: center;
    height: 35px;
    width: 35px;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    font-size: 1.5rem;
    color: #000;
    border: none;
    margin-top: 20px;
    margin-right: 30px;
}

.btn-close:hover {
    color: #fff;
    background: rgb(183, 107, 245);
}

@media (min-width: 300px) and (max-width: 370px) {
    .card-text {
        font-size: 18px;
    }

    .text-muted {
        font-size: 12px;

    }

    .card-img {
        width: 900px;
    }


}

@media (min-width: 575px) and (max-width: 370px) {
    .card-text {
        font-size: 18px;
    }

    .text-muted {
        font-size: 12px;

    }

    .card-img {
        width: 900px;
    }


}