.container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;


}

.container-slide {
    max-width: 400px;
}

.titles-home {
    font-size: 16px;
    margin-top: 40px;

}

hr.hr-home {
    color: rgb(183, 107, 245);
    height: 2px;
    opacity: 1;
    margin: 0
}




@media (min-width: 576px) {
    .container-slide {
        max-width: 500px;
    }

}

@media (min-width: 768px) {
    .container-slide {
        max-width: 700px;
    }

}

@media (min-width: 992px) {
    .container-slide {
        max-width: 900px;

    }



}